.header .left-side, 
.header .center-side, 
.header .right-side {
    display: flex;
    align-items: center;
}

/* ------------- Header left side ------------- */

.header .left-side {
    justify-content: left;
    color: #4f3f88;   
    gap: 10px;
    flex-grow: 1;
    flex-shrink: 0;
}

.left-side .logo-picture {
    padding-left: 20px;
    cursor: pointer;
}
.left-side .logo-text {
    font-size: 2.125em;
    font-weight: bolder;
    cursor: pointer;
}

/* ------------- Header center side ------------- */

.header .center-side {
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 10px;
}

.center-side .search-container{
    width: 100%;
}
.search-container .search-form{
    display: flex;  
    height: 32px;
}

.search-form .search-bar {
    width: 100%;

    border: 2px solid #e5e5e5;
    border-radius: 5px 0 0 5px;  
    outline: none;

    padding: 0px 10px;
}
.search-form .search-loupe {
    border: none;
    background: #e5e5e5;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search-form .search-bar:focus {
    border-color: #8068d6;
}
.search-form .search-loupe:hover {
    background: #d8d8d8;
}

.center-side .microphone,
.header .bell {
    color: #bab9ba;
}
.header .microphone:hover,
.right-side .bell:hover {
    color: #4d4d4d;
    cursor: pointer;
}

/* ------------- Header right side ------------- */

.header .right-side {
    justify-content: flex-end;
    flex-grow: 1;
    flex-shrink: 0;   
    gap: 20px;

    padding-right: 20px;
}

.right-side .dropdown-menu {
    width: 40px;
    height: 40px;
    line-height: 40px;

    border-radius: 50%;
    text-align: center;

    background: #7a62d3;
}
.right-side .dropdown-menu:hover {
    background: #d8d8d8;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-side .dropdown-menu > ul {
    list-style: none;  
    margin: 0;
    padding: 0;

    display: none;
    position: relative;
    right: 110px;
    width: 150px;

    background: white;
    box-shadow: 0 0 5px rgb(0 0 0 / 70%);
}

.right-side .dropdown-menu:hover > ul {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.right-side .dropdown-menu > ul li:hover {
    background: #d8d8d8;
}

.right-side .dropdown-menu > ul li:last-child {
    border-top: 2px solid #d8d8d8;
}

.right-side .dropdown-menu > ul li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;
    padding-left: 10px;

    text-decoration: none;
    color: black;
}

.header .dropdown-menu > ul li:last-child > a{
    color: red;
}