::-webkit-scrollbar {
    width: 0;
}

#root {
    height: 100vh;
}

body, body * {
    font-family: "Consolas";
    font-size: 16px;
}
* {
    box-sizing: border-box;
}

/* ------------- Header ------------- */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-between;

    position: relative;
    z-index: 10;

    width: 100%;
    height: 66px;
    
    background: #fff;
    box-shadow: 0 6px 5px -5px rgb(0 0 0 / 70%);
}

/* ------------- Main ------------- */

.main-layout {
    display: flex;
    height: calc(100vh - 66px);
    position: relative;
    z-index: 5;
}

.main-layout-sidepanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 240px;

    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);   
    background:  #e9e7e9;
}

.main-layout-content {
    width: 100%;
    overflow: auto;
}

.main-layout-content-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    

    max-height: 100%;
    min-height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
}