
/* ------------- Streamers block ------------- */

.main-layout-sidepanel .streamer-block {
    display: flex;   
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   

    overflow-y: auto;
}

.streamer-block::-webkit-scrollbar {
    width: 5px;
    background-color: #e9e7e9;
}
.streamer-block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6b6a6b;
}
.streamer-block::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e9e7e9;
}

.streamer-block .streamer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 16px 20px;
    column-gap: 5px;

    cursor: pointer;
}
.streamer-block .streamer-card:hover {
    background: #dfdedf;
    
}

/* ------------- Avatar & Name ------------- */
.streamer-card .streamer-avatar-name-container {
    display: flex;
    align-items: center;
    column-gap: 10px;    
}
.streamer-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.streamer-avatar-name-container .streamer-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;      
}
.streamer-avatar-name-container .streamer-name:hover {
    color: #8068d6;
}

/* ------------- Subscribers & Online pulse ------------- */

.streamer-card .streaming-status {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.streaming-status .streaming-viewers{    
    font-size: 1.1em;
}

.streaming-status .streaming-pulse {	
	width: 8px;
	height: 8px;
	border-radius: 50%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 1);
	background: red;
	
	animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}

/* ------------- Information block ------------- */

.main-layout-sidepanel .info-block {
    min-height: 150px;
    border-top: 2px solid white;
    padding: 20px 20px;    
}

.info-block .info-message {
    text-align: center;
    background: #dfdfdf;   
}

.info-block .info-message::selection {
    color: white;  
    background: #8068d6;
}

.info-block .social-network-block {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;

    background: #dfdfdf;   
}

.info-block .social-link:hover {
    color: #8068d6;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .main-layout-sidepanel .info-block,
    .streamer-card .streaming-status,
    .streamer-avatar-name-container .streamer-name {
        display: none;
    }
    
    .main-layout-sidepanel {
        max-width: 80px;
        width: 100%;
    }
    .streamer-card .streamer-avatar-name-container {
        column-gap: 0px;    
    }
}
