
.main-layout-content-view::-webkit-scrollbar {
    width: 5px;
    background-color: #e9e7e9;
}
  
.main-layout-content-view::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6b6a6b;
}
  
.main-layout-content-view::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e9e7e9;
}


/* ------------- Horizontal list of categories ------------- */

.main-layout-content-view .content-categories {
    display: grid;
    grid-auto-flow:column;  
    column-gap: 15px;

    padding: 16px 20px;
    flex: 0 0 72px;

    overflow-x: auto;
    overflow-y: hidden;
}


.main-layout-content-view .content-categories > div {
    height: 40px;
    padding: 5px;

    background: #e9e7e9;
    border: solid 1px  #4d4d4d;
    border-radius: 20px 20px 20px 20px;

    white-space: nowrap;
    text-align: center;
}
.main-layout-content-view .content-categories > div:first-child {
    background: #4f3f88;
    color: white;
}
.main-layout-content-view .content-categories > div:hover {
    background: #dfdedf;
    cursor: pointer;
}

.main-layout-content-view .content-categories::-webkit-scrollbar {
    height: 5px;
    background-color: white;
}
.main-layout-content-view .content-categories::-webkit-scrollbar-thumb {
   
    background-color: #6b6a6b;
}
.main-layout-content-view .content-categories::-webkit-scrollbar-track {
    
    background-color: #e9e7e9;
}

/* ------------- Video Panel & Container ------------- */

.main-layout-content-view .content-video-panel {   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    gap: 20px;
    
    height: 100%;

    flex: 1 1 auto;
    padding: 10px 20px;
}

/* ---- Video preview ----*/

.content-video-panel .video-container .video-preview {
    min-width: 128px;
    min-height: 72px;
    margin-bottom: 10px;
}
.content-video-panel .video-container .video-preview {
    position: relative;
}

.video-preview .video-preview-live {
    position: absolute;
    z-index: 12;
	top: 2%;
    left: 1%; 
    
    padding: 3px 5px;
    white-space: nowrap;
    text-align: center;

    border-radius: 10px 10px;
    background: #e40707;
    color: white;
    cursor: pointer;
}
.video-preview .video-preview-description {
    position: absolute;
    z-index: 10;
    bottom: 2%;
    right: 1%;

    padding: 3px 5px;
    white-space: nowrap;
    text-align: center;
   
    background: rgb(0 0 0 / 50%);
    color: white;
    border-radius: 10px 10px;  
    cursor: pointer;
}
.video-preview .video-preview-hover {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    min-width: 128px;
    min-height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    background: rgb(0 0 0 / 50%);       
    
}
.video-preview .video-preview-hover:hover { 
    transition: 0.5s;  
    opacity: 1;
}
.video-preview .video-preview-hover .hidden-logo {
    color: #614ea7;
    cursor: pointer;
}

/* ---- Video description ----*/

.video-container .video-decription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 0px 10px;
}
.video-decription .streamer-avatar {
    cursor: pointer;
}
.video-decription .video-decription-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    column-gap: 5px; 

    width: 90%;         
}
.video-decription-text > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    cursor: pointer;
}
.video-decription-text > span:hover {
    color: #4f3f88;  
}
.video-decription-text .video-name {
    font-size: 1.3em;
}
.video-decription-text .streamer-name {
    color: grey;
    font-size: 0.9em;
    font-weight: bolder;
}
.video-decription .video-decription-options:hover {
    color: #4f3f88;
    cursor: pointer;
}

/* ------------- Footer ------------- */

.content-footer {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    padding: 20px 0px;

    font-size: 1.2em;
    font-style: initial;
}


